@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  
  --surface-color: #fff;
  --curve: 40;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.responsive {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
}

/* Header */

/* header{
  position: sticky;
  top: 0;
  background: honeydew;
} */

nav {
  min-height: 80px;
  width: 100%;
}
label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: grey;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}
a.headerActive,
a.navItem:hover {
  /* background:rgb(177, 172, 172); */
  color:#1b9bff;
  background-color: whitesmoke;
  transition: 0.5s;
}

a.headerActive,a.headerActive:hover {
  background: #1b9bff;
  color: white;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav > ul > li > a {
    font-size: 16px;
  }
}
/* @media (max-width: 858px) {
  .checkbtn {
    display: block;
    color: violet;
  }
  ul {
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.headerActive {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
} */

/* slideshow */
.slideshow {
  overflow: hidden;
  width: 100%;
}

/* cardsection */
.tileSectionName {
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border: 2px solid whitesmoke;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  margin:0 15px 0 15px ;
}

.card__image {      
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";  
  font-size: .8em; 
  color: #D7BDCA;  
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}    


@media (max-width: 858px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  }
  .card__header,.card__description{
display: none;
  }
}

/* video audio Notification*/
.vidAudNot {
  display: flex;
  margin: 50px 20px 0 20px;
}
.video,
.audio,
.notification {
  flex: 1;
  margin: 0 20px 0 20px;
  height: 500px;
}
.lastSecTitle {
  text-align: center;
  margin-bottom: 15px;
}

.content {
  overflow: auto;
  max-height: 400px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: whitesmoke;
  border-radius: 50px;
  padding: 10px;
}

.content::-webkit-scrollbar {
  display: none;
}

@media (max-width: 952px) {
  .vidAudNot {
flex-direction: column;
  }
}


/* video */
.video .content{
  padding: 0;
  background-color: initial;
}

.bigVideo {
  display: none;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.videoTitle {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

.videoTitle{
  padding: 0 5% 4% 5%;
}

.thumbnailSec {
  display: flex;
  justify-content: space-evenly;
}

.thumbnail {
  flex: 1;
  margin: 5px;
  border-radius: 15px;
  overflow: hidden;
}

.demo {
  opacity: 1;
}

.vidActive,
.demo:hover {
  opacity: 0.6;
}

/* audio */
.audio .content{
  background-image: url('https://i.pinimg.com/originals/ab/45/bb/ab45bb4451536652faca51ae4f42d5dd.gif');
  height: 50vh;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}


/* notifications*/
.notification {
  background: white;
}
.notification > .content {
  padding-top: 20px;
}

.accordion {
  border-radius: 50px;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 5px;
  width: 99%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.notifiActive,
.accordion:hover {
  background-color: rgb(226, 224, 224);
}

.accordion:after {
  content: "\2228";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.notifiActive:after {
  content: "\2227";
}

.panel {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* footer */
.main {
  max-height: 550px;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
}

.footer-distributed {
  border-radius: 10px 10px 0px 0;
  background-color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  margin: 0;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed {
  color: #8f9296;
  font-size: 20px;
  font-weight: bold;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-donate {
  color: #1b9bff;
  margin-top: 25px;
  background: #000;
  border: 1px solid #1b9bff;
  font-weight: 700;
}
.footer-donate:hover {
  color: white;
  background: #1b9bff;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* buttons */
.button-24 {
  background-color: initial;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FF4742;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin:0 5px 0 5px;
}

.button-24:hover,
.button-24:active {
  background: #FF4742;
  background-position: 0 0;
  color: #FFFFFF;

}

.button-24:active {
  opacity: .5;
}




.button-45 {
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: inline;
  font-size: 1rem;
  font-weight: 700;
  line-height: 30px;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  margin:5px;
  margin-top: 0;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}


.button-45:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.button-45:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

